.About-section h1{
    display: block;
    width: 100vw;
    margin-bottom: 20px;
    text-decoration: underline var(--dark-green);
}

.About-section h2{
    margin-top: 20px;
    font-size: 1.2rem;
}   