#About-section .container{
    display: grid;
    justify-content: start;
    padding-bottom:30px;
}

#About-section h1{
    margin-bottom: auto;
    text-decoration: underline var(--dark-green);
    padding : 10px 0px 5px;
}

.row{
    width :100%;
}

#About-section .columm{
    width: 50%;
    text-align: left;
}

#About-section .columm.left{
    padding-right: 20px;
}