:root{
    --light-green: #dee5c2;
    --dark-green: #9ca37c;
    --cream: #fdfcf7;
    --text: rgba(20,28,15,255);
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

body {
    font-family: "Lato", sans-serif;
    font-size: 100%;
}

.global-padding{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 20px;
    font-size: 1.6rem;
    
}
.container{
    margin: auto;
    overflow: hidden;    

}

footer{
    background-color: #9ca37c;
    text-align: center;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    padding: 5px;
    text-decoration: none;
    color: var(--cream);
}

.fa:hover{
    color: var(--text);
    scale: 1.2;
    transition: all 0.5s ease;
}

@media screen and (width <= 512px) {
    :root{
        font-size: 46%;
    }
}

@media only screen and (width >= 1024px) {
    h1{
        font-size: 4rem;
    }   
    h2{
        font-size: 3rem;
    }   
 
  }
  @media only screen and (768px < width < 1024px) {
    h1{
        font-size: 3rem;
    }   
    h2{
        font-size: 2rem;
    }    
  }
  @media only screen and (540px < width < 768px) {
    h1{
        font-size: 2rem;
    }   
    h2{
        font-size: 1rem;
    }   
}