:root{
    --dark-green: #9ca37c;
    --cream: #fdfcf7;
    --text: rgba(20,28,15,255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
  }

body {
    font-family: "Lato", sans-serif;
    font-size: 100%;
}

.global-padding{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 20px;
    font-size: 1.6rem;
    
}
.container{
    margin: auto;
    overflow: hidden;
}

footer{
    background-color: #9ca37c;
    text-align: center;
    height: 30vh;
}