
.primary-navigation{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: rgba(255,253,241,255);
}
.primary-navigation a{
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 2rem;
    color: rgba(20,28,15,255);
    display: block;
    transition: 0.3s;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding :20px;
    width: 50%;
}

.primary-navigation a:hover{
    color: rgba(255,253,241,255);
    background-color: #9ca37c;
    border-radius: 2em;
    
}

.primary-navigation .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .primary-navigation {
        display: flex;
        justify-content: center;
    }
    .primary-navigation a {
        font-size: 18px;
    }
  }
