
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(20,28,15,255);
  }

body {
    font-family: "Lato", sans-serif;
    font-size: 100%;
}

.header{
    width:100%;
    background-color: rgba(255,253,241,255);
    position: sticky;
    top: 0;
}

.hero-background{
    background: url("../Assets/Hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100vw;
    height: auto;
    margin: 0;
    overflow: hidden;
}
.hero-content h1{
    font-size: 5rem;
    margin: 0%;
}
.global-padding{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 20px;
    font-size: 1.6rem;
    
}
.container{
    margin: auto;
    overflow: hidden;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.columm{
    flex: 50%;
}

#type {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    display: inline-block;
    border-right: 2px solid #000;
    white-space: nowrap;
    overflow: hidden;
}
.type::after{
    content: "|";
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

.me {
    margin: auto;
    width: 70%;
    height: auto;
}
.button-container{
    display: flex;
    justify-items: center;
    align-items: center;
}

.btn{
    background-color: transparent;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.contact-button{
    background-color: #9ca37c;
    margin-right: 10px;
    color: rgba(255,253,241,255);
}

.contact-button:hover {
    background-color: rgba(255,253,241,255);
    scale: 0.95;
    transition: all 0.5s ease;
    color: rgba(20,28,15,255);
}

.resume-button{
    background-color: rgba(255,253,241,255);
}

.resume-button:hover {
    background-color: #9ca37c;
    color: rgba(255,253,241,255);
    scale: 0.95;
    transition: all 0.5s ease;
}

.About-section{
    background-color: #fdfcf7;
}

.Contact-section{
    background-color: #fdfcf7;
}

footer{
    background-color: #9ca37c;
    text-align: center;
    height: 30vh;
}