#Projects-section{
  background-color: var(--cream);
  background-size: 100% 100vh;
  display: flexbox;
}

#Projects-section h1{
  margin-bottom: 20px;
}

.img-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items:center;
}

.img-gallery__item{
    background-color: var(--cream);
    padding: 10px;    
    position: relative; 
    flex: 1 1 calc(100% * (1/3) - 10px - 1px);
    justify-content: center;
    align-items:center;
}


#Projects-section img:hover{
  border : 2px solid var(--dark-green);
  scale: 1.05;
  transition: all 0.5s ease;
  box-shadow: 0 6px 2px -1px gray;

}

@media only screen and (width <= 512px) {
  .img-gallery__item{
    flex: 1 1 calc(100% * (1/2) - 10px - 1px);
}
}

